.body-page {
  height: 100vh;
  width: 100%;
  margin: 0;

  display: flex;
  flex-direction: column;
  position: relative;
}

.header-bar {
  margin-bottom: 25px;
  font-size: 25px;
  text-align: center;
  background-color: #36c0c7;
  color: #fff;
  height: 90px;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.footer-bar {
  margin-top: 40px;
  font-size: 25px;
  text-align: center;
  background-color: #36c0c7;
  color: #000;
  height: 80px;
}
